body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #1F2933;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}

p{
  color: #E5E7EB;
}
h2{
  color: #E5E7EB;
}
.main {
  flex: 1;
}

h1 {
  font-size: 3rem;
  color: #E5E7EB;
}

footer {
  text-align: right;

}


.head{
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.logo{
  width: 225px;
  height: auto;
}
.tile-image {
  height: 350px;
  width: auto;
  float: left;
  margin-right: 50px;
}

.card {
  width: 45%;
}

.left {
  float: left;
}

.right {
  float: right;
}

@media (max-width: 680px) {
  .logo {
    width: 100px;
  }

  h1 {
    font-size: 3.5rem;
    text-align: center;
  }

  .card {
    width: 100%;
    display: block;
    margin-bottom: 30px;
    text-align: justify;
  }

  .card img {
    margin-bottom: 10px;
    width: 100%;
    display: inline;
    object-fit: cover;
  }
}